[Unit]
Description=NeoFS HTTP Gateway
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/neofs-http-gw --config /etc/neofs/http/config.yaml
User=neofs-http
Group=neofs-http
WorkingDirectory=/srv/neofs_cache
Restart=always
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
