#!/usr/bin/make -f

# Do not try to strip Go binaries and do not run test
export DEB_BUILD_OPTIONS := nostrip nocheck
SERVICE = neofs-http-gw

%:
	dh $@

override_dh_installsystemd:
		dh_installsystemd --no-enable --no-start $(SERVICE).service		

override_dh_installchangelogs:
		dh_installchangelogs -k CHANGELOG.md		
		

